$font-size: 18px;
nav {
  display: flex;
  justify-content: center;
  ul {
    list-style-type: none;
    text-decoration: none;
  }
}
.link {
  color: black;
  text-decoration: none;
  font-size: $font-size;
}
